$colors : (

purple: #930BFF,
red: #fc4349,
green: #68AE2D,
white: #FFFFFF

);

@each $color_name,$color in $colors{
	
.#{$color-name}{
	background-color:$color !important;
}
.#{$color-name}-text {
	color:$color !important;
 }
}